
*{
  box-sizing:content-box;
  margin: 0;
  padding: 0;
}

header{
  background-color: rgb(105, 24, 109);
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color:antiquewhite
}

header a:hover{
  color:blueviolet;
  text-decoration: underline; 
}
.flex-links {
  display: flex;
  list-style-type: none;
  gap: 38px;
  flex-wrap: wrap;

}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}
.flex-container img {
  width: 300px;
}
.item{
  border: 8px solid, green;
}
.descripcion{
  font-size: small;
}
.btn-enviar {
  margin-top: 6px;
  padding: 12px;
  color: #8ed0e6;
  border-color: #8ed0e6;
  background-color: darkblue;
  border-radius: 8px;
  font-size: clamp(16px, 8vw, 32px);
}
.btn-enviar:hover{
    padding: 18px;
    color: rgb(42, 165, 61);
    background-color: red;

}

footer{
  background-color: aquamarine;
  color: antiquewhite;
  padding: 5%;
  text-align: center;
  border: 2px solid black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

@media only screen and (min-width:601.1px) {
   .footer {
    background-color: black;

  }

}